<!DOCTYPE html>
<html>

<head>
  <title>Ransom Byers: Software Engineer</title>
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body>
<div class=page>

  <section id="header">
    <div id="name"> Ransom Byers </div>
    <div id="tagline"> Software Engineer </div>
  </section>

  <section id="contact">
    <h2> Contact </h2>
    <div>
      <span id="phone"> 510.290.3682 </span>
      <span id="email">
        <a href="mailto:ransom.byers@gmail.com">
          ransom.byers@gmail.com
        </a>
      </span>
      <span id="linked-in">
        <a href="http://www.linkedin.com/in/ransombyers">
          www.linkedin.com/in/ransombyers
        </a>
      </span>
    </div>
  </section>

  <section id="education">
    <h2> Education </h2>

    <div class="education">
      <span class="school">
        <a href=http://www.olin.edu>
          Olin College
        </a>
      </span>
      <span class="degree"> BS Engineering: Sustainable Design </span>
    </div>

    <div class="education">
      <span class="school">
        <a href="https://devbootcamp.com/">
          Dev Bootcamp
        </a>
      </span>
      <span class="blurb"> 1000+ hour web development intensive </span>
    </div>
  </section>


  <section id="projects">
    <h2> Current Projects </h2>

    <div>
      <span class="name"> Tonite </span>
      <span class="description"> Alexa skill for spontaneous outings </span>
      <span class="github">
        <a href="https://github.com/rasnom/tonite"> Github </a>
      </span>
      <ul>
        <li>
      </ul>
    </div>

    <div>
      <span class="name"> Human Food Machines </span>
      <span class="description"> Digital prototypes of vending machine interfaces </span>
      <span class="github">
        <a href="https://github.com/rasnom/humanfoodmachine"> Github </a>
      </span>
    </div>

    <div>
      <span class="name"> Unverifiable.info </span>
      <span class="description"> Personal site </span>
      <span class="github">
        <a href="https://github.com/rasnom/unverifiable"> Github </a>
      </span>
    </div>
  </section>

  <section id="skills">
    <h2> Skills </h2>
    <div id="skill-salad"> </div>
    <script type="text/javascript">
      var word_list = [
          ["Ruby", 9],
          ["C++", 5],
          ["Python", 7],
          ["SQL", 8],
          ["Ruby on Rails", 6],
          ["Matlab", 6],
          ["Unix/Linux", 8],
          ["AJAX", 6],
          ["CSS", 6],
          ["Capybara", 5],
          ["RSpec", 6],
          ["Agile Methodologies", 6],
          ["Prioritization", 5],
          ["User Oriented Design", 7],
          ["Test Driven Design", 5],
          ["Quality Assurance", 4],
          ["Process Management", 4],
          ["Unity", 3],
          ["Git", 5],
          ["Java", 2],
          ["HTML5", 5],
          ["Pair Programming", 6],
          ["Machine Learning", 4],
          ["Automation Tools", 4],
          ["Django", 3],
          ["OaaS", 3],
          ["Sass", 4],
          ["Selenium", 4]
      ];

      $(function() {
        WordCloud(document.getElementById('skill-salad'), {
          list: word_list,
          weightFactor: "4",
          color: "black",
          shape: "circle",
          ellipticity: "0.1",
          drawWoutOfBound: "true",
          gridSize: "1"
        });
      });
    </script>

  </section>

  <section id="context">
    <h2> Context </h2>

    <div class="job">
      <div class="marquee">
        <span class="company">
          <a href="https://britehub.com/">
            BriteHub
          </a>
        </span>
        <span class="title"> Contract Product Manager </span>
        <span class="location"> Oakland, CA </span>
        <span class="dates"> 12/2015 - 09/2016 </span>
      </div>
      <ul>
        <li>
          Introduced and implemented a weekly development cadence and product roadmap.
        </li>
        <li>
          Shipped four major features while under major resource constraints.
        </li>
      </ul>
    </div>

    <div class="job">
      <div class="marquee">
        <span class="company">
          <a href="https://www.typeamachines.com/">
            Type A Machines
          </a>
        </span>
        <span class="title"> Head of Manufacturing </span>
        <span class="location"> San Leandro, CA </span>
        <span class="dates"> 02/2013 - 02/2015 </span>
      </div>
      <ul>
        <li>
          Built tools and implemented new SOPs to bring Type A's operations from little more than a BOM spreadsheet and a purchasing email account to a full system for creating and checking Purchase Orders, documenting Shipping and Receiving, Quality Control, and Inventory Management.
        </li>
        <li>
          Supervised a team of nine technicians and engineers. Told on more than occasion that I was the “glue that held the company together.”
        </li>
      </ul>
    </div>

    <div class="job">
      <div class="marquee">
        <span class="company">
          <a href="https://energy-solution.com/">
            Energy Solutions
          </a>
        </span>
        <span class="title"> Project Manager </span>
        <span class="location"> Oakland, CA </span>
        <span class="dates"> 09/2009 - 05/2012 </span>
      </div>
      <ul>
        <li>
          Developed internal business processes for Software Quality Assurance and Operations.
        </li>
        <li>
          Wrote and championed an analysis and proposal for cost effective industrial compressed air efficiency regulation, which was adopted by the California Energy Commission as part of Title 24.
        </li>
      </ul>
    </div>
  </section>

<div>

</body>
</html>
