<!DOCTYPE html>
<html>

<head>
  <title>Ransom Byers: Software Engineer</title>
  <link rel="stylesheet" href="../assets/stylesheets/resume.css"
</head>

<body>

<div class=page>

  <section id="contact-info">
    <div id="name"> Ransom Byers </div>
    <div id="tagline"> Software Engineer </div>
    <div id="phone"> 510.290.3682 </div>
    <div id="linked-in">
      <a href="http://www.linkedin.com/in/ransombyers">
        www.linkedin.com/in/ransombyers
      </a>
    </div>
    <div id="email">
      <a href="mailto:ransom.byers@gmail.com">
        ransom.byers@gmail.com
      </a>
    </div>
  </section>

  <section id="summary">
    <h2> Summary </h2>
    <p>
      I will be of huge benefit to the company, but possibly in ways you are not yet expecting.
    </p>
  </section>

  <section id="real-talk">
    <h2> What I actually think is important </h2>
    <ul>
      <li> I keep my cool even when projects are literally or figuratively on fire.</li>
      <li> I learn ridiculously fast.</li>
      <li> I give a shit.</li>
  </section>

  <section id="skills">
    <h2> Skill Salad </h2>
    <div id="skill-salad" width="100%"> </div>
    <script type="text/javascript">
      var word_array = [
          {text: "Lorem", weight: 15},
          {text: "Ipsum", weight: 9, link: "http://jquery.com/"},
          {text: "Dolor", weight: 6, html: {title: "I can haz any html attribute"}},
          {text: "Sit", weight: 7},
          {text: "Amet", weight: 5},
          // ...as many words as you want
          {text: "Ruby", weight: 9},
          {text: "C++", weight: 9},
          {text: "Python", weight: 9},
          {text: "SQL", weight: 9},
          {text: "Ruby on Rails", weight: 9},
          {text: "Matlab", weight: 9},
          {text: "Unix/Linux", weight: 9},
          {text: "AJAX", weight: 9},
          {text: "CSS", weight: 9},
          {text: "Capybara", weight: 9},
          {text: "RSpec", weight: 9},
          {text: "Agile", weight: 9},
          {text: "Prioritization", weight: 9},
          {text: "User Oriented Design", weight: 9},
          {text: "Conflict Resolution", weight: 9},
          {text: "Strategic Planning", weight: 9},
          {text: "TDD", weight: 9},
          {text: "Quality Assurance", weight: 9}
      ];

      $(function() {
        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
        $("#skills").jQCloud(word_array);
      });
    </script>

  </section>

  <section id="context">
    <h2> Context </h2>

    <div class="job">
      <span class="name">
        <a href="https://britehub.com/">
          BriteHub
        </a>
      </span>
      <span class="title"> Product Manager </span>
      <span class="location"> Oakland, CA </span>
      <span class="start"> 12/2015 </span>
      <span class="end"> 09/2016 </span>
      <p>
        As a very small startup, we each wore numerous hats. My hats tended to cluster around product development, process improvement, quality assurance, and customer service. Essentially my mandate was to identify what was most important to our users and then new guide development.
      </p>
      <p>
        In some ways my most important role was to repeatedly ask the questions, "What are our priorities?" and "Are we doing the things that would best further those priorities?", and to build structures to help us better identify and stick to those priorities.
      </p>
    </div>

    <div class="job">
      <span class="name">
        <a href="https://www.typeamachines.com/">
          Type A Machines
        </a>
      </span>
      <span class="title"> Head of Manufacturing </span>
      <span class="location"> San Leandro, CA </span>
      <span class="start"> 02/2013 </span>
      <span class="end"> 02/2015 </span>
      <p>
        Directly responsible for all engineering, procurement, assembly, quality control, and fulfillment for the manufacturing of 3D printers and accessories, both in terms of the day-to-day operations and long term planning for growth and new product development.
      </p>
      <p>
        Coordinated closely with sales and finance to juggle limited resources and find a balance between lead times, volume discounts, production demand, and potential supply chain risks.
      </p>
      <p>
        Supervised a team of 9 technicians and engineers.
      </p>
      <p>
        Shepherded new concept prototypes from R&D through to polished and reliable products.
      </p>
    </div>

    <div class="job">
      <span class="name">
        <a href="https://energy-solution.com/">
          Energy Solutions
        </a>
      </span>
      <span class="title"> Project Manager </span>
      <span class="location"> Oakland, CA </span>
      <span class="start"> 09/2009 </span>
      <span class="end"> 05/2012 </span>
      <p>
        Developed internal business processes for Software Quality Assurance and Operations.
      </p>
      <p>
        Provided Quality Assurance and User Support for voluntary energy efficiency incentive programs.
      </p>
    </div>

  </section>

  <section id="education">
    <h2> Education </h2>
    <div class="school">
      <span class="name">
        <a href=http://www.olin.edu>
          Olin College of Engineering
        </a>
      </span>
      <span class="degree"> BS Engineering: Sustainable Design </span>
    </div>

    <div class="school">
      <span class="name">
        <a href="https://devbootcamp.com/">
          Dev Bootcamp
        </a>
      </span>
      <span class="blurb"> 1000+ hour web development intensive </span>
    </div>

  </section>

<div>

</body>
</html>
