<!DOCTYPE html>
<html>

<head>
  <title>Ransom Byers: Software Engineer</title>
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body>

<div class=page>

  <section id="header">
    <div id="name"> Ransom Byers </div>
    <div id="tagline"> Software Engineer </div>
  </section>

  <section id="real-talk">
    <h2> Real Talk </h2>
    <div>
      <ul>
        <li> Keeps cool even when projects are literally or figuratively on fire.</li>
        <li> Learn ridiculously fast.</li>
        <li> Gives a shit.</li>
        <li> Huge benefit to the company, but possibly in ways you are not yet expecting. </li>
      </ul>
    </div>
  </section>

  <section id="skills">
    <h2> Skill Salad </h2>
    <div id="skill-salad"> </div>
    <script type="text/javascript">
      var word_list = [
          ["Ruby", 9],
          ["C++", 6],
          ["Python", 8],
          ["SQL", 9],
          ["Ruby on Rails", 7],
          ["Matlab", 7],
          ["Unix/Linux", 9],
          ["AJAX", 7],
          ["CSS", 7],
          ["Capybara", 6],
          ["RSpec", 7],
          ["Agile Methodologies", 7],
          ["Prioritization", 6],
          ["User Oriented Design", 8],
          ["Test Driven Design", 6],
          ["Quality Assurance", 5],
          ["Process Management", 5],
          ["Unity", 4],
          ["Java", 4],
          ["HTML5", 6],
          ["Pair Programming", 7],
          ["Machine Learning", 5],
          ["Automation Tools", 5],
          ["Django", 4],
          ["OaaS", 4],
          ["Sass", 5],
      ];

      $(function() {
        WordCloud(document.getElementById('skill-salad'), {
          list: word_list,
          weightFactor: "4",
          color: "black",
          shape: "circle",
          ellipticity: "0.1",
          drawWoutOfBound: "true",
          gridSize: "1"
        });
      });
    </script>

  </section>

  <section id="context">
    <h2> Context </h2>

    <div class="job">
      <div class="marquee">
        <span class="company">
          <a href="https://britehub.com/">
            BriteHub
          </a>
        </span>
        <span class="title"> Product Manager </span>
        <span class="location"> Oakland, CA </span>
        <span class="dates"> 12/2015 - 09/2016 </span>
      </div>
      <p>
        As a very small startup, we each wore numerous hats. My hats tended to cluster around product development, process improvement, quality assurance, and customer service. Essentially my mandate was to identify what was most important to our users and then new guide development.
      </p>
      <p>
        In some ways my most important role was to repeatedly ask the questions, "What are our priorities?" and "Are we doing the things that would best further those priorities?", and to build structures to help us better identify and stick to those priorities.
      </p>
    </div>

    <div class="job">
      <div class="marquee">
        <span class="company">
          <a href="https://www.typeamachines.com/">
            Type A Machines
          </a>
        </span>
        <span class="title"> Head of Manufacturing </span>
        <span class="location"> San Leandro, CA </span>
        <span class="dates"> 02/2013 - 02/2015 </span>
      </div>
      <p>
        Directly responsible for all engineering, procurement, assembly, quality control, and fulfillment for the manufacturing of 3D printers and accessories, both in terms of the day-to-day operations and long term planning for growth and new product development.
      </p>
      <p>
        Coordinated closely with sales and finance to juggle limited resources and find a balance between lead times, volume discounts, production demand, and potential supply chain risks.
      </p>
      <p>
        Supervised a team of 9 technicians and engineers.
      </p>
      <p>
        Shepherded new concept prototypes from R&D through to polished and reliable products.
      </p>
    </div>

    <div class="job">
      <div class="marquee">
        <span class="company">
          <a href="https://energy-solution.com/">
            Energy Solutions
          </a>
        </span>
        <span class="title"> Project Manager </span>
        <span class="location"> Oakland, CA </span>
        <span class="dates"> 09/2009 - 05/2012 </span>
      </div>
      <p>
        Developed internal business processes for Software Quality Assurance and Operations.
      </p>
      <p>
        Provided Quality Assurance and User Support for voluntary energy efficiency incentive programs.
      </p>
    </div>

    <div class="education">
      <span class="school">
        <a href=http://www.olin.edu>
          Olin College of Engineering
        </a>
      </span>
      <span class="degree"> BS Engineering: Sustainable Design </span>
    </div>

    <div class="education">
      <span class="school">
        <a href="https://devbootcamp.com/">
          Dev Bootcamp
        </a>
      </span>
      <span class="blurb"> 1000+ hour web development intensive </span>
    </div>

  </section>

  <section id="projects">
    <h2> Current Projects </h2>

    <div>
      <span class="name"> Tonite </span>
      <span class="description"> Alexa skill for spontaneous outings </span>
      <span class="github"> Github </span>
    </div>

    <div>
      <span class="name"> Human Food Machine </span>
      <span class="description"> Vending machine interface with opinions </span>
      <span class="github"> Github </span>
    </div>

    <div>
      <span class="name"> Rampant </span>
      <span class="description"> AR visualization of cumulative wage gaps </span>
      <span class="github"> Github </span>
    </div>
  </section>

  <section id="contact">
    <h2> Contact </h2>
    <div>
      <span id="email">
        <a href="mailto:ransom.byers@gmail.com">
          ransom.byers@gmail.com
        </a>
      </span>
      <span id="phone"> 510.290.3682 </span>
      <span id="linked-in">
        <a href="http://www.linkedin.com/in/ransombyers">
          www.linkedin.com/in/ransombyers
        </a>
      </span>
    </div>
  </section>

<div>

</body>
</html>
