// Place all the styles related to the resume controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
*= require jqcloud
*/

.page {
  width: 8.5in;
  height: 11in;
  background-color: Silver;

}

section {
  background-color: Peru;
  margin-left: 0%;
  margin-right: 0%;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: red
}

section#contact-info {
  margin-left: 10%;
  margin-right: 10%;
}
