// Place all the styles related to the resume controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
*= require jqcloud
*/
* {
  border-style: solid;
  border-width: 1px;
  border-color: red
}


.page {
  width: 8.5in;
  height: 11in;
  background-color: Silver;
}

section {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 5px;
  padding: 0;
}

section#header {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: Peru;
  text-align: center;
}

section h2 {
  margin: 0;
  background-color: Peru;
}
