<!DOCTYPE html>
<html>
<head>
  <title>Ransom Byers: Software Engineer</title>
</head>
<body>

<section id="contact-info">
  <div id="name"> Ransom Byers </div>
  <div id="phone"> 510.290.3682 </div>
  <div id="linked-in">
    <a href="http://www.linkedin.com/in/ransombyers">
      www.linkedin.com/in/ransombyers
    </a>
  </div>
  <div id="email">
    <a href="mailto:ransom.byers@gmail.com">
      ransom.byers@gmail.com
    </a>
  </div>
</section>

<section id="real-talk">
  <h2> What I actually think is important </h2>
  <ul>
    <li> I keep my cool even when projects are literally or figuratively on fire.</li>
    <li> I learn ridiculously fast.</li>
    <li> I give a shit.</li>
</section>

<section id="skills">
  <h2> Skill Salad </h2>
  <ul>
    <li class="software"> Ruby </li>
    <li class="software"> C++ </li>
    <li class="software"> Python </li>
    <li class="software"> SQL </li>
    <li class="software"> Ruby on Rails </li>
    <li class="software"> Matlab </li>
    <li class="software"> Unix/Linux </li>
    <li class="software"> AJAX </li>
    <li class="software"> CSS </li>
    <li class="software"> Capybara </li>
    <li class="software"> RSpec </li>
    <li class="pm"> Agile </li>
    <li class="pm"> Prioritization </li>
    <li class="pm"> User Oriented Design </li>
    <li class="pm"> Conflict Resolution </li>
    <li class="pm"> Strategic Planning </li>
    <li class="pm"> TDD </li>
    <li class="pm"> Quality Assurance </li>
  </ul>
</section>

<section id="experience">
  <h2> Experience </h2>

</section>

<section id="education">
  <h2> Education </h2>
  <div class="school">
    <span class="name">
      <a href=http://www.olin.edu>
        Olin College of Engineering
      </a>
    </span>
    <span class="degree"> BS Engineering: Sustainable Design </span>
  </div>

  <div class="school">
    <span class="name">
      <a href="https://devbootcamp.com/">
        Dev Bootcamp
      </a>
    </span>
    <span class="blurb"> 1000+ hour web development intensive </span>
  </div>

</section>

</body>
</html>
